body {
  background-color: #2a303c;
  color: #a6adba;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}