body {
  background-color: #2a303c;
  color: #a6adba;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

button.scale {
  animation: scale .25s ease-out;
}

@keyframes scale {
  0% {
    transform: scale(.95);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}